ol {
  counter-reset: item;
}

li {
  display: block;
}

li:before {
  content: counters(item, ".") " ";
  counter-increment: item;
}

.container {
  display: flex;
  justify-content: center;
  justify-items: center;
  margin: auto 0;
}

.tables {
  display: flex;
  width: 85%;
  flex-direction: row;
}

.passive-table {
  margin-left: 2rem;
}

@media only screen and (max-width: 600px) {
  .tables {
    flex-direction: column;
    width: 95%;
  }

  .passive-table {
    margin-left: 0;
    margin-top: 2rem;
  }
}

table {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

table td,
table th {
  border: 1px solid #000;
  padding: 8px;
  text-align: left;
}

table tr:nth-child(even) {
  background-color: #f2f2f2;
}

table tr:hover {
  background-color: #ddd;
}

table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  background-color: #315f4e;
  color: white;
}
